<h2><%=@invitation.first_name%>'s Invidation!</h2>

<ul>
    <li>Code: <%=@invitation.code%> </li>
    <li>Name: <%=@invitation.first_name%> <%=@invitation.last_name%> </li>
    <li>Email: <%=@invitation.email%> </li>
</ul>
